//column colors
$c-primary-column-1:hsl(31, 77%, 52%);
$c-primary-column-2:hsl(184, 100%, 22%);
$c-primary-column-3:hsl(179, 100%, 13%);

$c-paragraphs: hsla(0, 0%, 100%, 0.75);
$c-neutral:hsl(0, 0%, 95%);

//text
$text-body: 15px;
$text-header: 'Big Shoulders Display', cursive; 
$text-default: 'Lexend Deca', sans-serif;

//spacer
$column-spacer:40px;

//main section of project

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

 /*
 breakpoints
 mobile 0px - 1439px
 desktop 1440px and more
*/

body {
    background-color: $c-neutral;
    font-family: $text-default;
    font-size: $text-body;
    line-height: 1.5;
    color: $c-paragraphs;
}

//mobile first max. width 1439px

.header {
    font-family: $text-header;
    color: $c-neutral;
    font-size: 200%;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
 }

 p {
    margin: 0;
 }

 //buttons setup

 .button {
    display: inline-block;
    background-color: $c-neutral;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    margin-top: $column-spacer;
    
    &:hover,
    &:focus {
        color: $c-neutral;
        border: 1px solid $c-neutral;
    }
 
    @media screen and (min-width: 1440px) {
        margin: 50px 0 20px 0;
        padding: 10px 30px;
        border-radius: 40px;
    }
 }

 .column-1__button--normal {
    color: $c-primary-column-1;

    &:hover,
    &:focus {
        background-color: $c-primary-column-1;
    }
 }

.column-2__button--normal {
    color: $c-primary-column-2;

    &:hover,
    &:focus {
        background-color: $c-primary-column-2;
    }

}

 .column-3__button--normal {
    color: $c-primary-column-3;

    &:hover,
    &:focus {
        background-color: $c-primary-column-3;
    }

 }

// columns

.wrapper-columns {
    margin: 0 auto 10px auto;
    max-width: 375px;

    @media screen and (min-width: 1440px) {
        display: flex;
        max-width: 70%;
        height: 600px;
        margin-top: 10%;
        font-size: 140%;
    }
}

@media screen and (min-width: 1440px) {
    .card-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

}
    
.column-1 {
    background-color: $c-primary-column-1;
    padding: $column-spacer;
    border-radius: 10px 10px 0 0;

    @media screen and (min-width: 1440px) {
        border-radius: 10px 0 0 10px;
    }
}

.column-2 {
    background-color: $c-primary-column-2;
    padding: $column-spacer;
}

.column-3 {
    background-color: $c-primary-column-3;
    padding: $column-spacer;
    border-radius: 0 0 10px 10px;

    @media screen and (min-width: 1440px) {
        border-radius: 0 10px 10px 0;
    }
}


//footer
.attribution {
    visibility: hidden;
    color: $c-primary-column-3;
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: $c-primary-column-2;
    text-decoration: none;
} 

